*.exe
*.ipch
*.sdf
*.suo
*.filters
*.tlog
*.obj
*.res
*.rc
*.log
*.pdb
*.idb
*.ilk
*.lastbuildstate
*.lib
*.manifest
*.exp
*.zip
*.opensdf
*.user.*
*.xcuserstate
*.xcworkspace
*.xcuserdata
*.xcuserdatad
*.orig
*.unityPackage
obj/
BinariesX86/
BinariesX64/
XInputUnity4/Library/
XInputUnity5/Library/
XInputUnity5/Assets/AssetStoreTools*
Temp/